body {
	margin: 0;
}

.main, 
.uh-container,
.uh-element {
	position: relative;
	width: 100%;
	max-width: 870px;
	margin: 0 auto;
}

.main {
	padding: 40px 0;
}

.uh-container {
	min-height: 800px;
	margin-bottom: 80px;
	background-color: #f2f2f2;
}


.uh-element {
	height: 80px;
	background-color: magenta;
}

.uhx-element {
	height: 200px;
	background-color: green;
}